.div1{
    width: 19%;
    min-height: 100vh;
    float: left;
    background-color: lightgrey;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.div2{
    display: flex;
    width: 80%;
    min-height: 100vh;
    margin-left: 20%;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: lightgrey;
}

.boiler {
    margin: 25px;
}