.div1{
    width: 20%;
    min-height: 100vh;
    float: left;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
}

.div2{
    display: flex;
    width: 80%;
    min-height: 100vh;
    margin-left: 20%;
    background-color: aliceblue;
}

.boiler {
    margin: 25px;
}

.myHr {
    border-left:1px solid #CCC;
}