.myBoiler {
    width: 270px;
    height: 240px;
    border: 1px solid #CCCCCC;
    background-color: white;
    margin-left: 70px;
    margin-top: 15px;
    display: inline-block;
}

.indicator {
    width: 30px;
    margin-top: -1px;
    margin-right: -1px;
    height: 240px;
    border: 1px solid #CCCCCC;
    float: right;
}

.myBoiler h4 {
    padding-top: 10px;
    padding-left: 15px;
}

.nameDiv {
    width: 50%;
    float: left;
}

.numDiv {
    width: 30%;
    float: right;
}

.MainDiv h2{
    margin-left: 90px;
}

.divButton {
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-size: 18px;
}

.divBoilerName {
    margin-left: 145px;
    margin-right: 70px;
    margin-top: 50px;
    text-align: center;
}
